sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '14'
before_install:
  - yarn
before_script:
  - yarn
  - rm dist -rf
script:
  - yarn build
  - yarn test
after_success:
- yarn coverage
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"